@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans',
        'Inter',
        ui-sans-serif,
        system-ui,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji';
        
  --font-heading: "Bebas Neue", cursive;

    --color-primary: #630ed4;
    --color-primary-foreground: #ffffff;
    --color-primary-container: #7c3aed;

    --color-surface: #fef7ff;
    --color-on-surface: #1d1a24;
    --color-on-surface-dark: #f1e9ff;
    --color-on-surface-variant: #4a4455;
    --color-on-surface-variant-dark: #b8adc8;

    --color-surface-container: #f3ebfa;
    --color-surface-container-dark: #2d2638;
    --color-surface-container-dark-hover: #352d42;
    --color-surface-container-low: #f9f1ff;
    --color-surface-container-high: #ede5f4;
    --color-surface-container-highest: #e8dfee;

    --color-secondary-container: #dae2fd;
    --color-on-secondary-container: #5c647a;

    --color-surface-accent: #efe4ff;
    --color-surface-accent-dark: #3a3150;

    --color-outline-variant: #ccc3d8;
    --color-outline-variant-dark: #4b4458;

    --color-tertiary-fixed: #ffdcc6;
    --color-on-tertiary-fixed: #301400;

    --color-error-container: #ffdad6;
    --color-on-error-container: #93000a;

    --radius-xl: 0.5rem;
    --radius-2xl: 1rem;
}

@layer base {
    body {
        @apply bg-surface font-sans text-on-surface;
    }
}
